@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet CSS fix */
.leaflet-container {
  width: 100%;
  height: 100%;
  background-color: #121212; /* Match dark theme */
}

body {
  background-color: #000;
  color: #fff;
}
